       <!-- *** CUSTOMERS ***
_________________________________________________________ -->

<div class="section text-gray" id="customers">
  <h3>la información que ofrecemos en este portal es suministrado por las siguientes estudiantes de Enfermería: </h3>
  <div class="section text-parallax parallax-image1" id="services">
      <div class="container">
          <div class="row showcase">
              <div class="col-md-6 col-sm-6" data-animate="fadeInUp">
                  <div class="item">
                      <h5><span>Laura Vanessa Peña Ospina</span></h5>
                      <h5><span>Yiselh Mazo Molina</span></h5>
                      <h5><span>Laura Melisa Jaramillo López</span></h5>
                      <h5><span>Tatiana Gallego Jiménez</span></h5>
                  </div>
              </div>
              <div class="col-md-6 col-sm-6" data-animate="fadeInUp">
                  <div class="item">
                      <h5><span>Tatiana Valencia Diaz</span></h5>
                      <h5><span>María Fernanda Cardona Isaza</span></h5>
                      <h5><span>Niphtalie Kimberlee Paul</span></h5>
                  </div>
              </div>
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container -->

      <div class="dark-mask"></div>

  </div>
  <!-- /.section -->
</div>
<!-- /.section -->

<!-- *** CUSTOMERS END *** -->
