       <!-- *** TESTIMONIALS ***
_________________________________________________________ -->

<div class="section text-gray" id="testimonials" data-animate="fadeInUp">
  
              <div class="container">
                  <div class="col-md-12">
  
                      <div class="mb20">
                          <h2 class="title" data-animate="fadeInUp">los estudiantes opinan<br /><span>sobre nuestro sitio web</span></h2>
  
                          <p class="lead text-center" data-animate="fadeInUp">Siempre nos alegra saber que los estudiantes se van satisfechos. Algunos de ellos compartieron con ustedes sus opiniones sobre nuestra plataforma.</p>
                      </div>
  
                      <ul class="owl-carousel testimonials same-height-row" data-animate="fadeInUp">
                          <li class="item">
                              <div class="testimonial same-height-always">
                                  <div class="text">
                                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                           nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
                                            vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                                  </div>
                                  <div class="bottom">
                                      <div class="icon"><i class="fa fa-quote-left"></i>
                                      </div>
                                      <div class="name-picture">
                                          <img class="" alt="" src="./assets/img/person-1.jpg">
                                          <h5>Nombre Estudiante</h5>
                                          <p>Ciudad</p>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                      <!-- /.owl-carousel -->
                  </div>
                  <!-- /.12 -->
              </div>
              <!-- /.container -->
  
          </div>
          <!-- /.section -->
  
          <!-- *** TESTIMONIALS END *** -->