       <!-- *** FOOTER ***
_________________________________________________________ -->

<div class="section" id="footer">
  <div class="container">

      <div class="row">

          <div class="col-sm-6">

              <p class="social">
                  <a href="https://www.facebook.com/" class="external facebook" data-animate-hover="shake" data-animate="fadeInUp" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/" class="external instagram" data-animate-hover="shake" data-animate="fadeInUp" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="external gplus" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-google-plus"></i></a>
                  <a href="#" class="email" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
              </p>
          </div>
          <!-- /.6 -->

          <div class="col-sm-6">
              <p>&copy; 2017 Certificación HTML5. Todos los derechos reservados.</p>
          </div>

          <div class="col-sm-12">
              <p class="template-bootstrapious">Página desarrollada por<a href="http://www.uco.edu.co/Paginas/home.aspx" target="_blank"> estudiantes UCO</a></p>
              
              <!-- Please do not remove the backlink to us, unless you support the development at https://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)        -->
              
          </div>

      </div>

  </div>
  <!-- /.container -->
</div>
<!-- /.section -->

<!-- *** FOOTER END *** -->
