
<!-- *** INTRO IMAGE ***
_________________________________________________________ -->

<div id="all">
    <div id="intro" class="clearfix">
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="carousel-caption">
                        <div data-animate="fadeInDown logo">
                            <img src="./assets/LogoUCO.png" alt="logo" width="130">
                        </div>
                        <h1 data-animate="fadeInDown">Hola! gracias por visitar nuestro sitio web</h1>
                        <h2 data-animate="slideInUp">Aquí encontrará toda la información que usted necesita como guía para afianzar sus conocimientos.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- *** INTRO IMAGE END *** -->
