
    <!-- *** NAVBAR ***
_________________________________________________________ -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand scrollTo" href="#intro">Farmacología Clínica</a>
            </div>

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#intro">Home</a>
                    </li>
                    <li><a href="#services">Servicios</a>
                    </li>
                    <li><a href="#testimonials">Opiniones</a>
                    </li>
                    <li><a href="#references">Autores</a>
                    </li>
                    <li><a href="#customers">Estudiantes</a>
                    </li>
                    <li><a href="#quiz">Iniciar Test</a>
                    </li>
                    <li><a href="#contact">contacto</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->

        </div>
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->


    <div id="all">


        <!-- *** INTRO IMAGE ***
_________________________________________________________ -->
        <div id="intro" class="clearfix">
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="carousel-caption">
                            <div data-animate="fadeInDown logo">
                                <img src="./assets/LogoUCO.png" alt="logo" width="130">
                            </div>
                            <h1 data-animate="fadeInDown">Hola! gracias por visitar nuestro sitio web</h1>
                            <h2 data-animate="slideInUp">Aquí encontrará toda la información que usted necesita como guía para afianzar sus conocimientos.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- *** INTRO IMAGE END *** -->

        <!-- *** SERVICES ***
_________________________________________________________ -->
        <div class="section text-gradient" id="services">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="title" data-animate="fadeInDown">Servicios</h2>

                    <div class="row services">

                        <div class="col-md-4" data-animate="fadeInUp">
                            <div class="icon"><i class="fa fa-search"></i>
                            </div>
                            <h3 class="heading">Consulta</h3>
                            <p>Aquí podras consultar y practicar con toda la información que ofrecemos sobre la farmacología clínica, la cual consiste en una actividad que debe resolver en un test y además estará disponible 2 mentefactos conceptuales.</p>
                        </div>

                        <div class="col-md-4" data-animate="fadeInUp">
                            <div class="icon"><i class="fa fa-check-square-o"></i>
                            </div>
                            <h3 class="heading">Test</h3>
                            <p>Antes de iniciar cualquier consulta sobre el tema de la farmacologia clinica debera realizar un test, este consta de 30 preguntas, usted deberá responder correctamente un mínimo de 14 preguntas para que la plataforma permita el acceso a los mentefactos conceptuales.</p>
                        </div>

                        <div class="col-md-4" data-animate="fadeInUp">
                            <div class="icon"><i class="fa fa-window-restore"></i> 
                            </div>
                            <h3 class="heading">Mentefactos</h3>
                            <p>Una vez haya validado el test, estará a su disposición 2 mentefactos conceptuales para que amplie cada tema que ofrece esta herramienta. Además que tendrá la opcion de libre despliegue en los diferentes temas que el usuario desee profundizar.</p>
                        </div>

                    </div>

                    <hr>

                    <div class="text-center">

                        <p class="lead">Tienes alguna inquietud o deseas aportar información?</p>

                        <p><a href="#contact" class="btn btn-default btn-lg scrollTo">Contáctame</a>
                        </p>

                    </div>

                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** SERVICES END *** -->

        <!-- *** TESTIMONIALS ***
_________________________________________________________ -->

        <div class="section text-gray" id="testimonials" data-animate="fadeInUp">

            <div class="container">
                <div class="col-md-12">

                    <div class="mb20">
                        <h2 class="title" data-animate="fadeInUp">los estudiantes opinan<br /><span>sobre nuestro sitio web</span></h2>

                        <p class="lead text-center" data-animate="fadeInUp">Siempre nos alegra saber que los estudiantes se van satisfechos. Algunos de ellos compartieron con ustedes sus opiniones sobre nuestra plataforma.</p>
                    </div>

                    <ul class="owl-carousel testimonials same-height-row" data-animate="fadeInUp">
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                         nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
                                          vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                                </div>
                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="./assets/img/person-1.jpg">
                                        <h5>Nombre Estudiante</h5>
                                        <p>Ciudad</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- /.owl-carousel -->
                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->

        </div>
        <!-- /.section -->

        <!-- *** TESTIMONIALS END *** -->

        <!-- *** REFERENCES IMAGE ***
_________________________________________________________ -->
        <div class="section" id="references">
            <div class="container">
                <div class="col-sm-12">

                    <div class="mb20">
                        <h2 class="title" data-animate="fadeInUp">Equipo de desarrollo</h2>
                        <p class="lead" data-animate="fadeInUp">Hemos participado en este proyecto web con entusiasmo, así que aportamos de lo mejor de nuestros conocimientos para tí.</p>
                    </div>
                    <br><br>

                    <!-- Reference detail -->

                    <div id="references-masonry" data-animate="fadeInUp">

                        <div class="reference-item" data-category="webdesign">
                            <div class="reference">
                                <a href="#">
                                    <img src="./assets/jhonatan.jpg" class="img-responsive" alt="" />
                                    <div class="overlay">
                                        <h3 class="reference-title"><a id="autor" href="https://www.instagram.com/jhonatanmorales53/" target="_blank">Jhonatan Morales</a></h3> 
                                        <p id="descripcionDesarrolador">Estudiante de Programación Web, actualmente trabaja para SAIMYR Software</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="reference-item" data-category="seo">
                            <div class="reference">
                                <a href="#">
                                    <img src="./assets/carolina.jpg" class="img-responsive" alt="" />
                                    <div class="overlay">
                                        <h3 class="reference-title"><a id="autor" href="https://www.instagram.com/caro_martinezr/" target="_blank">Carolina Martinez</a></h3> 
                                        <p id="descripcionDesarrolador">Estudiante de Ingenieria de Sistemas, actualmente trabaja para el IMER</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="reference-item" data-category="marketing">
                            <div class="reference">
                                <a href="#">
                                    <img src="./assets/rodolfo.jpg" class="img-responsive" alt="" />
                                    <div class="overlay">
                                        <h3 class="reference-title"><a id="autor" href="https://www.facebook.com/rodolfo.chamorro" target="_blank">Rodolfo Chamorro Montes</a></h3> 
                                        <p id="descripcionDesarrolador">Estudiante de Programación Web</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="reference-item" data-category="marketing">
                            <div class="reference">
                                <a href="#">
                                    <img src="./assets/papo.jpeg" class="img-responsive" alt="" />
                                    <div class="overlay">
                                        <h3 class="reference-title"><a id="autor" href="https://www.instagram.com/pablohenao19/" target="_blank">Juan Pablo Henao</a></h3> 
                                        <p id="descripcionDesarrolador">Estudiante de Ingenieria de Sistemas, actualmente trabaja para SAIMYR Software</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="reference-item" data-category="marketing">
                            <div class="reference">
                                <a href="#">
                                    <img src="./assets/luis.jpg" class="img-responsive" alt="" />
                                    <div class="overlay">
                                        <h3 class="reference-title"><a id="autor" href="https://www.facebook.com/luiseduardo.solanolopez" target="_blank">Luis Eduardo Solano</a></h3> 
                                        <p id="descripcionDesarrolador">Estudiante de Programación Web</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /#references-masonry -->

                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** REFERENCES END *** -->

        <!-- *** CUSTOMERS ***
_________________________________________________________ -->

        <div class="section text-gray" id="customers">
            <h3>la información que ofrecemos en este portal es suministrado por las siguientes estudiantes de Enfermería: </h3>
            <div class="section text-parallax parallax-image1" id="services">
                <div class="container">
                    <div class="row showcase">
                        <div class="col-md-6 col-sm-6" data-animate="fadeInUp">
                            <div class="item">
                                <h5><span>Laura Vanessa Peña Ospina</span></h5>
                                <h5><span>Yiselh Mazo Molina</span></h5>
                                <h5><span>Laura Melisa Jaramillo López</span></h5>
                                <h5><span>Tatiana Gallego Jiménez</span></h5>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6" data-animate="fadeInUp">
                            <div class="item">
                                <h5><span>Tatiana Valencia Diaz</span></h5>
                                <h5><span>María Fernanda Cardona Isaza</span></h5>
                                <h5><span>Niphtalie Kimberlee Paul</span></h5>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
    
                <div class="dark-mask"></div>
    
            </div>
            <!-- /.section -->
        </div>
        <!-- /.section -->

        <!-- *** CUSTOMERS END *** -->

        <!-- *** QUIZ ***
_________________________________________________________ -->
<div class="section text-gradient" id="quiz">
        <div class="container">
            <div class="col-md-12">
                <h2 class="title" data-animate="fadeInDown">Text</h2>

                <div>
                    <a class="btn btn-default" href="http://saimyr.com/practicahtml5/test/" role="button" target="_blank">Link Cuestionario</a>
                    <a class="btn btn-default" href="http://saimyr.com/practicahtml5/mentefactos/" role="button" target="_blank">Link Mentefactos</a>
                </div>

            </div>
            <!-- /.12 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->

    <!-- *** QUIZ END *** -->

        <!-- *** CONTACT ***
_________________________________________________________ -->

        <div class="section contact" id="contact" data-animate="bounceIn">
            <div class="container">
                <div class="col-md-12">


                    <h2 class="title">CONTÁCTAME</h2>

                    <div class="row">

                        <div class="col-md-8 col-md-offset-2">
                            <form id="contact-form" method="post" action="contact.php">

                                <div class="messages">

                                </div>

                                <div class="controls">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="name" class="form-control" placeholder="Nombre *" required="required">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="surname" class="form-control" placeholder="Apellido *" required="required">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="email" class="form-control" placeholder="Email *" required="required">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="phone" class="form-control" placeholder="Teléfono">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea name="message" class="form-control" placeholder="Mensaje *" rows="4" required="required"></textarea>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <input type="submit" class="btn btn-primary btn-lg" value="Enviar mensaje">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** CONTACT END *** -->

        <!-- *** FOOTER ***
_________________________________________________________ -->

        <div class="section" id="footer">
            <div class="container">

                <div class="row">

                    <div class="col-sm-6">

                        <p class="social">
                            <a href="https://www.facebook.com/" class="external facebook" data-animate-hover="shake" data-animate="fadeInUp" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/" class="external instagram" data-animate-hover="shake" data-animate="fadeInUp" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="external gplus" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="email" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                        </p>
                    </div>
                    <!-- /.6 -->

                    <div class="col-sm-6">
                        <p>&copy; 2017 Certificación HTML5. Todos los derechos reservados.</p>
                    </div>

                    <div class="col-sm-12">
                        <p class="template-bootstrapious">Página desarrollada por<a href="http://www.uco.edu.co/Paginas/home.aspx" target="_blank"> estudiantes UCO</a></p>
                        
                        <!-- Please do not remove the backlink to us, unless you support the development at https://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)        -->
                        
                    </div>

                </div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** FOOTER END *** -->
    </div>
    <!-- /#all -->
<!-- 
    <div>
        <router-outlet></router-outlet>
    </div> -->