        <!-- *** REFERENCES IMAGE ***
_________________________________________________________ -->
<div class="section" id="references">
  <div class="container">
      <div class="col-sm-12">

          <div class="mb20">
              <h2 class="title" data-animate="fadeInUp">Equipo de desarrollo</h2>
              <p class="lead" data-animate="fadeInUp">Hemos participado en este proyecto web con entusiasmo, así que aportamos de lo mejor de nuestros conocimientos para tí.</p>
          </div>
          <br><br>

          <!-- Reference detail -->

          <div id="references-masonry" data-animate="fadeInUp">

              <div class="reference-item" data-category="webdesign">
                  <div class="reference">
                      <a href="#">
                          <img src="./assets/jhonatan.jpg" class="img-responsive" alt="" />
                          <div class="overlay">
                              <h3 class="reference-title"><a id="autor" href="https://www.instagram.com/jhonatanmorales53/" target="_blank">Jhonatan Morales</a></h3> 
                              <p id="descripcionDesarrolador">Estudiante de Programación Web, actualmente trabaja para SAIMYR Software</p>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="reference-item" data-category="seo">
                  <div class="reference">
                      <a href="#">
                          <img src="./assets/carolina.jpg" class="img-responsive" alt="" />
                          <div class="overlay">
                              <h3 class="reference-title"><a id="autor" href="https://www.instagram.com/caro_martinezr/" target="_blank">Carolina Martinez</a></h3> 
                              <p id="descripcionDesarrolador">Estudiante de Ingenieria de Sistemas, actualmente trabaja para el IMER</p>
                          </div>
                      </a>
                  </div>
              </div>

              <div class="reference-item" data-category="marketing">
                  <div class="reference">
                      <a href="#">
                          <img src="./assets/rodolfo.jpg" class="img-responsive" alt="" />
                          <div class="overlay">
                              <h3 class="reference-title"><a id="autor" href="https://www.facebook.com/rodolfo.chamorro" target="_blank">Rodolfo chamorro Montes</a></h3> 
                              <p id="descripcionDesarrolador">Estudiante de Programación Web</p>
                          </div>
                      </a>
                  </div>
              </div>

              <div class="reference-item" data-category="marketing">
                  <div class="reference">
                      <a href="#">
                          <img src="./assets/papo.jpg" class="img-responsive" alt="" />
                          <div class="overlay">
                              <h3 class="reference-title"><a id="autor" href="https://www.instagram.com/pablohenao19/" target="_blank">Juan Pablo Henao</a></h3> 
                              <p id="descripcionDesarrolador">Estudiante de Ingenieria de Sistemas, actualmente trabaja para SAIMYR Software</p>
                          </div>
                      </a>
                  </div>
              </div>

              <div class="reference-item" data-category="marketing">
                  <div class="reference">
                      <a href="#">
                          <img src="./assets/luis.jpg" class="img-responsive" alt="" />
                          <div class="overlay">
                              <h3 class="reference-title"><a id="autor" href="https://www.facebook.com/luiseduardo.solanolopez" target="_blank">Luis Eduardo Solano</a></h3> 
                              <p id="descripcionDesarrolador">Estudiante de Programación Web</p>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
          <!-- /#references-masonry -->

      </div>
      <!-- /.12 -->
  </div>
  <!-- /.container -->
</div>
<!-- /.section -->

<!-- *** REFERENCES END *** -->